/* .title_container{
    width:50%;
    padding:40px 0;
} */
/* .cards_container{
    display:flex;
    justify-content: space-between;
    margin-bottom:30px;
}
 */
.cardHeight{
    height: 400px;
}
.layer{
    width:100%;
    height: 100% !important;
    background-color:#0000004a ;
    padding-top:50px;
    padding-bottom:50px;
   
}

@media screen and (max-width:1460px) and (min-width: 1200px) {
    .cardHeight{
        height: 500px;
    }
}
@media screen and (max-width:1000px) and (min-width: 769px) {
    .cardHeight{
        height: 490px;
    }
}
